Source: libwww-form-urlencoded-xs-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: gregor herrmann <gregoa@debian.org>,
           Xavier Guimard <yadd@debian.org>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper-compat (= 13),
               libjson-perl <!nocheck>,
               libmodule-build-tiny-perl,
               perl-xs-dev,
               perl:native
Standards-Version: 4.6.1
Vcs-Browser: https://salsa.debian.org/perl-team/modules/packages/libwww-form-urlencoded-xs-perl
Vcs-Git: https://salsa.debian.org/perl-team/modules/packages/libwww-form-urlencoded-xs-perl.git
Homepage: https://metacpan.org/release/WWW-Form-UrlEncoded-XS
Rules-Requires-Root: no

Package: libwww-form-urlencoded-xs-perl
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends}
Enhances: libwww-form-urlencoded-perl
Description: XS implementation of application/x-www-form-urlencoded parser/builder
 WWW::Form::UrlEncoded::XS provides an application/x-www-form-urlencoded
 encoding parser and builder that is implemented in XS. This module is used by
 WWW::Form::UrlEncoded (libwww-form-urlencoded-perl) transparently.
